# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
GeneratedFiles/Debug/moc_InputProductDlg.cpp
GeneratedFiles/Debug/moc_MainWindow.cpp
GeneratedFiles/Debug/moc_ScaleBarRefresh.cpp
GeneratedFiles/Debug/moc_SettingsDlg.cpp
GeneratedFiles/Debug/moc_TargetInfoWidget.cpp
GeneratedFiles/Debug/moc_UDPServer.cpp
GeneratedFiles/qrc_MainWindow.cpp
GeneratedFiles/Release/moc_InputProductDlg.cpp
GeneratedFiles/Release/moc_MainWindow.cpp
GeneratedFiles/Release/moc_ScaleBarRefresh.cpp
GeneratedFiles/Release/moc_SettingsDlg.cpp
GeneratedFiles/Release/moc_TargetInfoWidget.cpp
GeneratedFiles/Release/moc_UDPServer.cpp
GeneratedFiles/ui_InputProductDlg.h
GeneratedFiles/ui_MainWindow.h
GeneratedFiles/ui_SettingsDlg.h
GeneratedFiles/ui_TargetInfoWidget.h
*.tlog
*.log
*.pdb
